.venv/
__pycache__/
*.pyc

.DS_Store


data/tiles/*
data/masks/*
data/inference_outputs/*
data/inference_inputs/*
data/raw/*

!data/raw/.gitkeep
!data/tiles/.gitkeep
!data/masks/.gitkeep
!data/inference_outputs/.gitkeep
!data/inference_inputs/.gitkeep
